BACKEND/3_ VidTube/node_modules/.package-lock.json
BACKEND/4_Vidtube/node_modules/.package-lock.json
BACKEND/4_Vidtube/node_modules/.package-lock.json
BACKEND/4_Vidtube/node_modules/.bin/nodemon
BACKEND/4_Vidtube/node_modules/brace-expansion/index.js
BACKEND/4_Vidtube/node_modules/brace-expansion/LICENSE
BACKEND/4_Vidtube/node_modules/brace-expansion/package.json
BACKEND/4_Vidtube/node_modules/brace-expansion/README.md
BACKEND/4_Vidtube/node_modules/morgan/HISTORY.md
BACKEND/4_Vidtube/node_modules/morgan/index.js
BACKEND/4_Vidtube/node_modules/morgan/LICENSE
BACKEND/4_Vidtube/node_modules/morgan/package.json
BACKEND/4_Vidtube/node_modules/morgan/README.md
BACKEND/4_Vidtube/node_modules/nodemon/.prettierrc.json
BACKEND/4_Vidtube/node_modules/nodemon/index.d.ts
BACKEND/4_Vidtube/node_modules/nodemon/jsconfig.json
BACKEND/4_Vidtube/node_modules/nodemon/LICENSE
BACKEND/4_Vidtube/node_modules/nodemon/package.json
BACKEND/4_Vidtube/node_modules/nodemon/README.md
BACKEND/4_Vidtube/node_modules/nodemon/bin/nodemon.js
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/authors.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/config.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/help.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/logo.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/options.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/topics.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/usage.txt
BACKEND/4_Vidtube/node_modules/nodemon/doc/cli/whoami.txt
BACKEND/4_Vidtube/node_modules/nodemon/lib/nodemon.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/spawn.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/version.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/cli/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/cli/parse.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/config/command.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/config/defaults.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/config/exec.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/config/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/config/load.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/help/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/monitor/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/monitor/match.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/monitor/run.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/monitor/signals.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/monitor/watch.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/rules/add.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/rules/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/rules/parse.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/bus.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/clone.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/colour.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/index.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/log.js
BACKEND/4_Vidtube/node_modules/nodemon/lib/utils/merge.js
BACKEND/4_Vidtube/node_modules/on-headers/HISTORY.md
BACKEND/4_Vidtube/node_modules/on-headers/index.js
BACKEND/4_Vidtube/node_modules/on-headers/LICENSE
BACKEND/4_Vidtube/node_modules/on-headers/package.json
BACKEND/4_Vidtube/node_modules/on-headers/README.md
