* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #8a2be3, #416941);
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  max-width: 500px;
  width: 100%;
}

.weather-head {
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.city-input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 70%;
}

.get-weather-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  background-color: #8a2be3;
  color: #fff;
  cursor: pointer;
  width: 30%;
}

.get-weather-btn:hover {
  background-color: #416941;
  transition: all 0.3s ease;
}

#weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

#showErrorMsg {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.city-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.temperature-data {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description-data {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font: italic bold;
}

.hidden {
  display: none;
}
