* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #b7b7b7, #b7b7b7);
}

#container {
  max-width: 500px;
  width: 100%;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* height: 400px; */
  /* position: relative; */
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

#product-list .product {
  width: 100%;
  padding: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #e3e1e1;
  margin-top: 10px;
}

#card-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

/* .product {
  padding: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #b7b7b7;
} */

#cart-total {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  /* display: inline; */
}

.cartList {
  margin-top: 10px;
}

#total-price {
  font-weight: bold;
}

@media (max-width: 768px) {
  #container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #container {
    padding: 15px;
  }
}

button {
  padding: 10px;
  background-color: rgb(247, 202, 0);
  color: black;
  border: none;
  border-radius: 10px;
  font: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(220, 181, 4);
}

#checkout-btn {
  padding: 10px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #838282;
  color: white;
}

#checkout-btn:hover {
  background-color: #5d5b5b;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}
