* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #dff2eb, #4a628a);
}

#todo-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  height: 350px;
  background-color: #fff;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

#input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin-top: 20px;
}

#inputBox {
  flex: 1;
  border: none;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  outline: none;
  font-size: 18px;
  padding-left: 15px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #4a628a;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2b3a55;
  transition: all 0.3s ease;
}

#list-container {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
}

#list-container::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  scroll-behavior: smooth;
}

ul li button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f87a53;
  color: #fff;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: gray;
}
